<header>
    <nav class="menu">
        <ul>
            <li> <a> <mat-icon fontIcon=" "></mat-icon> <span> Ativos </span> </a> </li>
            <li>
                <a routerLink="dashboard" routerLinkActive="active"> <mat-icon fontIcon="dashboard"></mat-icon>
                    Dashboard </a>
            </li>
            <li>
                <a routerLink="acoes" routerLinkActive="active"> <mat-icon fontIcon="bookmarks"> </mat-icon> Ações </a>
            </li>
            <li>
                <a routerLink="screening" routerLinkActive="active"> <mat-icon fontIcon="travel_explore">
                    </mat-icon>Screening</a>
            </li>
            <li>
                <a routerLink="backtest" routerLinkActive="active"> <mat-icon fontIcon="science"> </mat-icon> Backtest
                </a>
            </li>

        </ul>
    </nav>
</header>
<router-outlet></router-outlet>