<header>
    <h3 class="title">Meus Investimentos</h3>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">  <mat-icon  fontIcon="dashboard"></mat-icon> Dashboard</a></li>
            <li><a routerLink="/carteiras" routerLinkActive="active"> <mat-icon  fontIcon="wallet"></mat-icon>  Carteiras</a></li>
            <li><a routerLink="/operacoes" routerLinkActive="active"> <mat-icon  fontIcon="autorenew"></mat-icon> Operações</a></li>
           
        </ul>
    </nav>
</header>