
.env

code.npm

vue-trade-controle/node_modules
vue-trade-controle/dist

quasar-trade-controle/node_modules
quasar-trade-controle/dist
quasar-trade-controle/.quasar

tc-back-end/node_modules
tc-back-end/dist

*.pyc
trade_controler_django/.idea/
tc-django/.idea/
trade_controler_django/media/
flask-angular/back-end/notas_pdf/*
flask-angular/back-end/.idea/*
flask-angular/back-end/.idea/misc.xml
flask-angular/back-end/.idea/tt-back-end.iml
flask-angular/back-end/.idea/misc.xml
flask-angular/back-end/.idea/misc.xml
flask-angular/back-end/.idea/tt-back-end.iml
