main {
    padding: 0.5em;
}

.indice {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.data-box {
    padding-bottom: 0.8em;
}

.data-box table th {
    padding: 0.2em;
    text-align: center;
    border-bottom: 0;
}

.data-box table td span {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data-item {
    margin-left: 3em;
}

.data-item ul li {
    list-style: none;
}

.expectation {
    background-color: rgb(190, 248, 224);
}

.indice-tables {
    background-color: rgb(235, 237, 242);
    margin: 0.5em;
}

.indice-tables table,
tr {
    border: 1px solid #fff;
}

.indice-tables th {
    text-align: center;
}

.table-vol td,
tr {
    border: 0;
}

.current {
    background-color: rgb(208, 231, 243);
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.volatility {
    width: 15vh;
}

.volatility table {
    border: 0;
}

.volatility tr {
    height: 6px;
}

.volatility td {
    border: 0;
}

.vol-text {
    text-align: center;
    background-color: rgba(215, 218, 204, 0.3);
    padding: 0.2em;
    font-size: 12px;
    color: #222324;
}

.arrow {
    text-align: center;
}

.atual {
    background-color: rgb(208, 231, 243);
}


.p50 {
    background-color: rgb(242, 104, 60);
}


.p40 {
    background-color: rgb(242, 104, 60, 0.8);
}

.p30 {
    background-color: rgb(242, 104, 60, 0.6);
}

.p20 {
    background-color: rgb(242, 104, 60, 0.4);
}

.p10 {
    background-color: rgba(230, 60, 60, 0.5);
}

.p5 {
    background-color: rgba(230, 60, 60, 0.8);
}

.p05 {
    background-color: rgba(230, 60, 60, 0.9);
}

.p01 {
    background-color: rgba(230, 60, 60, 1);
}

.text-center {
    text-align: center;
}


.text-line-through {
    text-decoration: line-through;
}


footer {
    text-align: right;
    bottom: 1em;
    right: 0.5em;
    width: 100%;
}