<main class="container">

    <div class="data-box">
        <h2 class="indice">{{indiceData.win.code}}
            <span class="text-info" class="{{indiceData.win.day_variation >= 0 ?'positive':'negative'}}">
                {{indiceData.IBOVE.day_variation | number}}%
            </span>
            <span class="text-info">   Vencimento:
                {{indiceData.win.expiration |date:'dd/MM/yyy'}} ({{indiceData.win.expiration_days}} dias)
            </span>
        </h2>
        <div class="data-row">
            <table>
                <thead>
                    <tr>
                        <th colspan="5" class="expectation"> Expectativa </th>
                        <th class="current"> Atual </th>
                        <th colspan="3" class="previous"> Anterior </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="expectation"> Justo atual <span> {{indiceData.win.expectation.FPC}} </span></td>
                        <td class="expectation"> Justo no Fechamento <span> {{indiceData.win.expectation.FPAC}}</span></td>
                        <td class="expectation"> Abertura <span> {{indiceData.win.expectation.open}} </span></td>
                        <td class="expectation"> Máxima <span> {{indiceData.win.expectation.high}} </span></td>
                        <td class="expectation"> Mímima <span> {{indiceData.win.expectation.low}} </span></td>
                        <td class="current"> <span> {{indiceData.win.current | number}} </span></td>
                        <td class="previous">Fechamento <span> {{indiceData.win.close | number}} </span></td>
                        <td class="previous">Máxima <span> {{indiceData.win.high | number}} </span></td>
                        <td class="previous">Mímima <span> {{indiceData.win.low | number}} </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="data-box">
        <h2 class="indice">IBOVE
            <span class="text-info" class="{{indiceData.IBOVE.day_variation >= 0 ?'positive':'negative'}}">
                {{indiceData.IBOVE.day_variation | number}}%</span>
        </h2>
        <div class="data-row">
            <table>
                <thead>
                    <tr>
                        <th class="current"> Atual </th>
                        <th colspan="4" class="previous"> Anterior </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="current"> <span> {{indiceData.IBOVE.current | number}} </span></td>
                        <td class="previous">Fechamento <span> {{indiceData.IBOVE.close | number}} </span></td>
                        <td class="previous">Máxima <span> {{indiceData.IBOVE.high | number}} </span></td>
                        <td class="previous">Mímima <span> {{indiceData.IBOVE.low | number}} </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr>

    <div class="data-box">
        <h2 class="indice">SP500 FUT
            <span class="text-info" class="{{indiceData.SP500FUT.day_variation >= 0 ?'positive':'negative'}}">
                {{indiceData.SP500FUT.day_variation | number}}%</span>
        </h2>
        <div class="data-row">
            <table>
                <thead>
                    <tr>
                        <th class="current"> Atual </th>
                        <th colspan="4" class="previous"> Anterior </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="current"> <span> {{indiceData.SP500FUT.current | number}} </span></td>
                        <td class="previous">Fechamento <span> {{indiceData.SP500FUT.close | number}} </span></td>
                        <td class="previous">Máxima <span> {{indiceData.SP500FUT.high | number}} </span></td>
                        <td class="previous">Mímima <span> {{indiceData.SP500FUT.low | number}} </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="data-box">
        <h2 class="indice">{{indiceData.DI.code}}
            <span class="text-info"> {{indiceData.DI.value | number}}</span>
        </h2>
    </div>


</main>
<footer>
    <h2> <span class="text-info"> {{update_at | date:'dd/MM/yyy hh:mm:ss'}}</span></h2>
</footer>