main{
    padding: 0.5em;
}

.indice {
    margin: 0;
}

.data-box {
    padding-bottom: 0.8em;
}

.data-box table th {
  padding: 0.2em;
  text-align: center;
  border-bottom: 0;
}

.data-box table td span {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data-item {
   margin-left: 3em;
}
.data-item ul li {
    list-style:  none;
}


.expectation{
    background-color: rgb(231, 249, 239);
}

.previous{
    background-color: rgb(235, 237, 242);
}


.current {
    background-color: rgb(208, 231, 243);
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

footer{
    text-align: right;
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    width: 100%;
}