.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  border: 1px solid #bebbbbc5;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  margin: 5px;
  width: 200px;
  padding: 20px;
}

.card-negative {
  box-shadow: 5px 4px 3px rgba(219, 52, 52, 0.15);
}

.card-positive {
  box-shadow: 5px 4px 3px rgba(37, 189, 82, 0.15);
}

.label {   
  font-size: 16px;
  font-weight: 400;
}

.value {
  font-size: 22px;
  font-weight: bold;
}

.positive {
  color: #008000;
}

.negative {
  color: #ff0000;
}
