<div class="container">

  <div class="result">
    <h3 class="subtitle">Totais</h3>
    <div class="panel-result">
      <app-panel-result [values]="results"></app-panel-result>
    </div>
  </div>

  <div>
    <div class="chart-panel">
      <div class="chart-evolution-daytrade">
        <canvas baseChart class="chart" [data]="lineChartMonthyData()" [options]="lineChartMonthyOptions()"
          [type]="lineChartType"> </canvas>
      </div>

      <div class="chart-evolution-daytrade">
        <canvas baseChart class="chart" [data]="lineChartQuarterData()" [options]="lineChartQuarterOptions()"
          [type]="lineChartType">
        </canvas>
      </div>
    </div>

    <div>
      <hr>
      <span class="title">Pontos de atenção</span>
      <div class="obs">
        <div *ngFor="let row of observacoes" class="card">
          <span>{{row.nrg}}</span>
          {{row.obs}}
        </div>
      </div>
    </div>
  </div>
</div>


<app-daytrade-statistics></app-daytrade-statistics>

<div>
  <a href="http://localhost:3000/public-dashboards/fba10d192494404eaad0377d6624d7c1?orgId=1" target="_blank">
    <img
      srcset="https://img.icons8.com/?size=48&amp;id=9uVrNMu3Zx1K&amp;format=png 1x, https://img.icons8.com/?size=96&amp;id=9uVrNMu3Zx1K&amp;format=png 2x"
      width="36" height="36">
  </a>
</div>