.container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 5px;
}

.panel-result {
  height: 100%;
}

.chart-panel {
  display: flex;
  flex-direction: row;
  justify-content: start;
}



.chart-evolution-daytrade {
  padding: 3px;
  border: 1px solid rgb(248, 246, 246);

  width: 80vh;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.obs {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;

  & .card {
    font-size: 10px;
    padding-right: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    background-color: #fff;
    border: 1px solid #ddd;

    &.card:hover {
      transform: translateY(-5px);
      background-color: rgb(219, 227, 233);
    }

    span {
      background-color: #e5841c;
      color: #f1f1f3;
      font-weight: 500;
      padding: 0.4em;

      top: -7px;
      left: -5px;
      position: relative;

      border-radius: 85px;
    }
  }
}