<nav class="filter">
    <button mat-icon-button matTooltip="Mostrar Filtro" color="primary" aria-label="Mostrar Filtro"
        (click)="hiddenFilter = false">
        <mat-icon>filter_alt</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Limpar filtro" color="accent" aria-label="Limpar filtro"
        (click)="clearFilter()">
        <mat-icon>filter_alt_off</mat-icon>
    </button>
</nav>
<div class="contener">
    <table>
        <thead>
            <tr>
                <th>Carteira</th>
                <th>Ativo</th>
                <th>Qtd</th>

                <th>Dt. Compra</th>
                <th>Pr. Compra</th>

                <th>Dt. Venda</th>
                <th>Pr. Venda</th>

                <th>Resultado</th>
                <th>Custos + IRPF</th>
                <th>Líquido</th>

                <th>Nt. Compra</th>
                <th>Nt. Venda</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of items">
                <td>{{ row.carteira }}</td>
                <td><a (click)="onFilterAtivo( row.ativo_id)"> {{ row.ativo }}</a></td>
                <td>{{ row.compre_venda != 'COMPRA' ? row.qtd_compra : row.qtd_venda }}</td>

                <td><a (click)="onFilterDataCompra( row.data_compra)"> {{ row.data_compra | date:'dd/MM/yyy' }}</a>
                </td>
                <td>{{ row.pm_compra | number:'1.2-2'}}</td>

                <td><a (click)="onFilterDataVenda( row.data_venda)"> {{ row.data_venda | date:'dd/MM/yyy' }}</a> </td>
                <td>{{ row.pm_venda | number:'1.2-2'}}</td>

                <td>{{ row.resultado | currency}}</td>
                <td>{{ row.custos + row.irpf | number:'1.2-2'}}</td>
                <td>{{ row.resultado - row.custos - row.irpf | number:'1.2-2'}}</td>

                <td><a (click)="onFilterNotaCompra(row.nota_compra)"> {{ row.nota_compra }}</a></td>
                <td><a (click)="onFilterNotaVenda(row.nota_venda)"> {{ row.nota_venda }}</a></td>
                <td> <button mat-icon-button matTooltip="Editar" color="primary" aria-label="Editar"
                        (click)="onEditar(row.id)">
                        <mat-icon>edit</mat-icon>
                    </button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Número de Operações {{summary.numero_operacoes}}</td>
                <td colspan="2">Bruto {{summary.resultado | currency}}</td>
                <td colspan="2">Custos {{summary.custos | currency}}</td>
                <td colspan="2">IRPF {{summary.irpf | currency}}</td>
                <td colspan="3">Líquido {{summary.liquido | currency}}</td>
            </tr>
        </tfoot>
    </table>
    <div class="filtro" [hidden]="hiddenFilter">
        <form [formGroup]="formFiltrer">
            <h2 class="title">Filtro de dados</h2>
            <div class="form-group-inline">
                <label> Encerramento > ou = </label>
                <input type="date" formControlName="start_encerramento">
            </div>
            <div class="form-group-inline">
                <label> Encerramento < ou=</label>
                        <input type="date" formControlName="end_encerramento">
            </div>
            <div class="form-group-inline">
                <label> Data Compra > ou = </label>
                <input type="date" formControlName="start_data_compra">
            </div>
            <div class="form-group-inline">
                <label> Data Compra < ou=</label>
                        <input type="date" formControlName="end_data_compra">
            </div>
            <div class="form-group-inline">
                <label> Data Venda > ou = </label>
                <input type="date" formControlName="start_data_venda">
            </div>
            <div class="form-group-inline">
                <label> Data Venda < ou=</label>
                        <input type="date" formControlName="end_data_venda">
            </div>
            <div class="form-group-inline">
                <label for="encerrada">
                    <input type="checkbox" formControlName="encerrada" id="encerrada"> Operações
                    Encerradas</label>
            </div>
            <div class="form-group-inline">
                <label for="daytrade">
                    <input type="checkbox" formControlName="daytrade" id="daytrade"> Operações de Daytrade
                </label>
            </div>
            <div class="form-group-inline">
                <label for="codigo"> Código do ativo </label>
                <input type="text" formControlName="codigo" id="" codigo minlength="5" maxlength="5" size="5">
            </div>
            <div class="form-group-inline">
                <label for="nota"> Número da nota </label>
                <input type="text" formControlName="nota" id="" size="15">
            </div>
            <div class="form-group-inline">
                <label for="tipo_investimento"> Tipo Ativo </label>
                <select formControlName="tipo_investimento" id="tipo_investimento">
                    <option value="1">Ações</option>
                    <option value="2">Fundos Imobiliários</option>
                    <option value="3">Indice</option>
                </select>
            </div>
            <div class="form-group-inline">
                <label for="carteira_id"> Carteira </label>
                <select formControlName="carteira_id" id="carteira_id">
                    <option value="2">Houpe</option>
                    <option value="1">Bony</option>
                </select>
            </div>
        </form>
        <hr>
        <footer class="container-buttons">
            <button mat-raised-button color="accent" (click)="onHiddeFilter()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="onFilter()">Filtrar</button>
        </footer>
    </div>
</div>

<app-modal #modal id="modalEdit">
    <form [formGroup]="formOperacao" class="formOperacao">
        <h2 class="title">Editando Operação</h2>

        <div class="form-group-inline">
            <div>
                <label for="tipo">Ativo: </label>
                <select id="tipo" formControlName="ativo_id">

                </select>
            </div>
            <div>
                <label for="tipo">Carteira: </label>
                <select id="tipo" formControlName="carteira_id">
                    <option *ngFor="let option of carteiras" [value]="option.id">
                        {{ option.nome }}
                    </option>
                </select>
            </div>
            <div>
                <label for="tipo">Compra ou Venda:</label>
                <select id="tipo" formControlName="compra_venda">
                    <option value="COMPRA">Compra</option>
                    <option value="VENDA">Venda</option>
                </select>
            </div>
        </div>

        <div >
            <fieldset class="form-group-inline">
                <legend>Compra</legend>
                <div>
                    <label>Preço: </label>
                    <input type="text" formControlName="pm_compra" size="8">
                </div>
                <div>
                    <label>Qtd: </label>
                    <input type="text" formControlName="qtd_compra" size="8">
                </div>
                <div>
                    <label>Data: </label>
                    <input type="date" formControlName="data_compra">
                </div>
            </fieldset>

        </div>

        <div >
            <fieldset class="form-group-inline">
                <legend>Venda</legend>
            <div>
                <label>Preço: </label>
                <input type="text" formControlName="pm_venda" size="8">
            </div>
            <div>
                <label>Qtd: </label>
                <input type="text" formControlName="qtd_venda" size="8">
            </div>
            <div>
                <label>Data: </label>
                <input type="date" formControlName="data_venda">
            </div>
        </fieldset>
        </div>

    </form>
    <hr>


    <div class="contener-footer">
        <div class="new-carteira-footer">
            <footer class="container-buttons">
                <button mat-raised-button color="accent" (click)="hideFormOperacao()">Cancelar</button>
                <button mat-raised-button color="primary" (click)="saveOperacao()">Salvar</button>
            </footer>
        </div>
    </div>

</app-modal>