<div class="chart-operations-daytrade">
  <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="barChartType"
  >
  </canvas>
</div>

<app-tab>
  <app-tab-item>
      <app-tab-header>Operação de daytrade</app-tab-header>
      <app-tab-body>
          IO am first content
      </app-tab-body>
  </app-tab-item>
  <app-tab-item>
      <app-tab-header>Operações abertas</app-tab-header>
      <app-tab-body>
          I am second Content
      </app-tab-body>
  </app-tab-item>
</app-tab>