<app-tab>
    <app-tab-item>
        <app-tab-header>First tab</app-tab-header>
        <app-tab-body>
            IO am first content
        </app-tab-body>
    </app-tab-item>
    <app-tab-item>
        <app-tab-header>second tab</app-tab-header>
        <app-tab-body>
            I am second Content
        </app-tab-body>
    </app-tab-item>
    <app-tab-item header="third tab">
        <app-tab-header>third</app-tab-header>
        <app-tab-body>
            I am third content
        </app-tab-body>
    </app-tab-item>
</app-tab>