.contener {
  display: flex;
  justify-content: space-around;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tfoot {
  font-weight: bold;
  background-color: #f2f2f2;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.form-up {
  position: fixed;
  //top: 50;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #c6c3c3;
}
 