<nav>
    <div class="form-group-inline">
        <label for="tipo">Tipo da Nota: </label>
        <select id="tipo" [ngModel]="tipoNota" (ngModelChange)="onSelectTypeNota($event)">
            <option value="1">Acões</option>
            <option value="2">Mercado Futuro</option>
            <option value="0">N/A</option>
        </select>
    </div>
    <div class="form-group-inline">
        <label> Data processamento:
            <input type="date" [(ngModel)]="start_processamento" id="start"> a <input type="date" [(ngModel)]="end_processamento" id="end">
        </label>
    </div>
    <button mat-icon-button matTooltip="Filtrar" color="primary" aria-label="Filtrar"  (click)="onFilterDates()">
        <mat-icon>filter_alt</mat-icon>
    </button>

    <button mat-button color="primary" aria-label="Enviar arquivo" (click)="hiddenForm=false">
        <mat-icon>file_upload</mat-icon> Enviar arquivo
    </button>
</nav>
<div class="contener">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data processamento</th>
                <th>Status</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of items">
                <td>{{ row.name}}</td>
                <td>{{ row.data_processamento | date:'dd/MM/yyy HH:mm:ss'}}</td>
                <td>{{ row.status }} </td>
                <td>{{ row.tipo }}</td>
                <td [hidden]=" row.status == 'Finalizado'">
                    <button mat-icon-button matTooltip="Processar arquivo" color="primary"
                        aria-label="Processar arquivo" (click)="onProcessFile(row.id)">
                        <mat-icon>cloud_sync</mat-icon>
                    </button>
                </td>
                <td [hidden]=" row.status != 'Finalizado'">
                    <button mat-icon-button matTooltip="Visualizar Transações" color="primary"
                        aria-label="Visualizar Transações" (click)="onView(row.id)">
                        <mat-icon>preview</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-up" [hidden]="hiddenForm">

        <input type="file" (change)="onSelectFile($event)" accept=".pdf" class="form-group" />
        <footer class="container-buttons">
            <button mat-raised-button color="accent" (click)="hiddenForm=true">Cancelar</button>
            <button mat-raised-button color="primary" [disabled]="!selectedFile" (click)="onUploadFile()">Enviar
                arquivo</button>
        </footer>

    </div>
</div>