.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.card {
  border: 1px solid #bebbbbc5;
  border-radius: 4px;
  margin: 0 10px 20px 10px;
  padding: 7px 0 10px 10px;
}

.card-negative {
  box-shadow: 5px 4px 3px rgba(219, 52, 52, 0.15);
}

.card-positive {
  box-shadow: 5px 4px 3px rgba(37, 189, 82, 0.15);
}

.label {   
  font-size: 16px;
  font-weight: 400;
  color: #7c7c79;
}

.value {
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.positive {
  color: #008000;
}

.negative {
  color: #ff0000;
}
