<nav class="nav-main">
  <div class="responsive-menu" onClick="toggleNav()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <a class="logo">Trade Controle </a>
  <ul class="nav-list">
    <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
    <li><a href="{% url 'carteiras' %}">Carteiras</a></li>
    <li><a href="{% url 'ativos'%}?tipo=1">Ações</a></li>
    <li><a href="{% url 'ativos'%}?tipo=2">FIIS</a></li>
    <li><a href="{% url 'operacoes' %}">Operações</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
</nav>
